<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ static_url('images/favicon.ico') }}">

    <title>{{ Title }}</title>

    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/cover.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Zen</h3>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Opps >_<</h1>
            <p class="lead" style="font-size: 66px">
                404 Error!
            </p>
            <p class="lead">
              <a href="/" class="btn btn-lg btn-default">Homepage</a>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p> Copyright &copy; 2016 - 2017, <a href="#">Zen.com</a>, by <a href="#">@Zhengxin Yang</a>, All Rights Reserved. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
  </body>
</html>